<html>
    <head>
        <title>prg6</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body ng-app="myApp">
        <h1>To-Dd</h1>
        <div ng-controller="myCntrl">
            Enter a Task:
            <input type="text" id="tsk" ng-model="new_task" ng-keypress="addTask($event)"/>
            <ul>
                <li ng-repeat="task in tasks">
                    <span ng-show="!task.EDITING">{{task.TITLE}}</span>
                    <input ng-show="task.EDITING" ng-model="task.TITLE" ng-blur="turnOffEditing(task)"/>&emsp;
                    <input type="button" value="Edit" ng-click="editTask(task)"/>&emsp;
                    <input type="button" value="Delete" ng-click="deleteTask(task)"/>
                </li>
            </ul>
        </div>
    </body>
</html>

<script>
    var myVar = angular.module("myApp", []);
    myVar.controller("myCntrl", function($scope){
        $scope.tasks=[
            {"TITLE": "BRUSH MY TEETH", "COMPLETED": true, "EDITING": false},
            {"TITLE": "WASH MY SCOOTER", "COMPLETED": true, "EDITING": false}
        ];

        $scope.addTask = function(keyEvent){
            if(keyEvent.which == 13){
                if($scope.new_task){
                    var t = {
                        "TITLE":$scope.new_task,
                        "COMPLETED": false,
                        "EDITING": false
                    }
                    $scope.tasks.push(t);
                }
                else{
                    alert("Please enter a task to add");
                    document.getElementById("tsk").focus();
                    return false;
                }
            }
        }

        $scope.editTask = function(task){
            task.EDITING=true;
        }
        $scope.turnOffEditing = function(task){
            task.EDITING=false;
        }

        $scope.deleteTask = function(task){
            var doublecheck = confirm("Are you sure you want to delete this task?");
            if(doublecheck == true){
                var idx = $scope.tasks.indexOf(task);
                $scope.tasks.splice(idx,1);
            }
            else{
                alert("You chose not to remove this task");
            }
        }

    })
</script>